body {
  /*reset margin for spacing*/
  margin: 0;
  /*system fonts for better performance across different devices*/
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

code {
  /*monospaced fonts - better readability*/
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
